body {
  background-color: aquamarine;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: goldenrod;
}
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: red;
}
div {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: blue;
}
#menuBG {
  width: 400px;
  height: 470px;
  margin: 10px auto;
}
#frMenu {
  width: 600px;
  height: 200px;
}
#totalPrice {
  width: 200px;
  height: 190px;
  margin: 20px auto;
  float: right;
}
.left {
  width: 200px;
  height: 200px;
  float: left;
}
.center {
  width: 200px;
  height: 200px;
  float: left;
}
.right {
  width: 200px;
  height: 200px;
  float: right;
}
#showtext {
  width: 200px;
  height: 190px;
  margin: 0px auto;
  float: left;
}
#cart {
  top: 0;
  margin: 0px auto;
  width: 400px;
  height: 200px;
}
#btnOrder {
  margin: 10px 0 0 100px;
  width: 100px;
  height: 40px;
  display: block;
  margin: 25px auto;
}
